if SHIELD_SUSHI2_LEFT

config ZMK_KEYBOARD_NAME
    default "sushi2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
	
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
	default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
	default y

endif # SHIELD_SUSHI2_LEFT

if SHIELD_SUSHI2_RIGHT

config ZMK_USB
	default n

endif # SHIELD_SUSHI2_RIGHT

if SHIELD_SUSHI2_LEFT || SHIELD_SUSHI2_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SUSHI2_LEFT || SHIELD_SUSHI2_RIGHT
