if SHIELD_SUSHI2_LEFT

config ZMK_KEYBOARD_NAME
    default "sushi2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SUSHI2_LEFT

if SHIELD_SUSHI2_LEFT || SHIELD_SUSHI2_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
	default y

config BT_CTLR_PHY_2M
	default n

config EC11
	default y

config EC11_TRIGGER_GLOBAL_THREAD
	default y

endif # SHIELD_SUSHI2_LEFT || SHIELD_SUSHI2_RIGHT
